@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
body {
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
  color: #858796;
  font-style: normal;
  font-size: 14px;
  line-height: 1.3;
  height: 100%; }

h1, h2, h3, h4, h5 {
  color: #FF4E50;
  text-transform: none; }

p {
  color: #858796;
  word-wrap: break-word; }

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #FF4E50;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline;
    color: #667DF3; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.link-center {
  text-align: center; }

.no-link {
  cursor: default;
  pointer-events: none; }

.full-wd {
  width: 100%; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

.text-white {
  color: #FFF; }

.bold-text {
  font-weight: bold; }

.no-break {
  white-space: nowrap; }

.b-left-progress-alert {
  border-left: 5px solid #F6C23E; }

.b-left-finish-alert {
  border-left: 5px solid #1CC88A; }

.b-left-expire-alert {
  border-left: 5px solid #E74A3B; }

.b-left-cancel-alert {
  border-left: 5px solid #4E73DF; }

.progress-alert {
  background-color: #F6C23E; }

.finish-alert {
  background-color: #1CC88A; }

.expire-alert {
  background-color: #E74A3B; }

.cancel-alert {
  background-color: #4E73DF; }

.type-alert-progress {
  color: #F6C23E; }

.type-alert-finish {
  color: #1CC88A; }

.type-alert-expire {
  color: #E74A3B; }

.type-alert-cancel {
  color: #4E73DF; }

@-webkit-keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
@keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
.btn {
  font-size: 14px; }

.btn-general, .btn-primary, .btn-default {
  font-family: "Montserrat", sans-serif;
  background-color: #FF4E50;
  color: #FFF;
  padding: 13px 12px;
  text-transform: capitalize;
  text-align: center;
  border: none;
  border-radius: 15px;
  font-weight: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn-general:hover, .btn-primary:hover, .btn-default:hover, .btn-general:active, .btn-primary:active, .btn-default:active, .btn-general:focus, .btn-primary:focus, .btn-default:focus {
    background-color: #667DF3;
    text-decoration: none;
    color: #FFF;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-general:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled):active, .btn-general:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled).active, .btn-default:not(:disabled):not(.disabled).active {
    -webkit-box-shadow: none;
    box-shadow: none; }
    .btn-general:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-default:not(:disabled):not(.disabled):active:focus, .btn-general:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-default:not(:disabled):not(.disabled).active:focus {
      -webkit-box-shadow: none;
      box-shadow: none; }

/*# sourceMappingURL=main.css.map */
