@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
body {
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
  color: #858796;
  font-style: normal;
  font-size: 14px;
  line-height: 1.3;
  margin: 0px; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  color: #FF4E50;
  text-transform: none; }

p {
  color: #858796;
  word-wrap: break-word; }

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #FF4E50;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline;
    color: #667DF3; }

.container {
  width: 100%;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@media (min-width: 768px) {
  .container {
    max-width: 748px; }

  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; } }
@media (min-width: 1440px) {
  .container {
    max-width: 940px; } }
.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.link-center {
  text-align: center; }

.no-link {
  cursor: default;
  pointer-events: none; }

.full-wd {
  width: 100%; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

.text-white {
  color: #FFF; }

.bold-text {
  font-weight: bold; }

.no-break {
  white-space: nowrap; }

.b-left-progress-alert {
  border-left: 5px solid #F6C23E; }

.b-left-finish-alert {
  border-left: 5px solid #1CC88A; }

.b-left-expire-alert {
  border-left: 5px solid #E74A3B; }

.b-left-cancel-alert {
  border-left: 5px solid #4E73DF; }

.progress-alert {
  background-color: #F6C23E; }

.finish-alert {
  background-color: #1CC88A; }

.expire-alert {
  background-color: #E74A3B; }

.cancel-alert {
  background-color: #4E73DF; }

.type-alert-progress {
  color: #F6C23E; }

.type-alert-finish {
  color: #1CC88A; }

.type-alert-expire {
  color: #E74A3B; }

.type-alert-cancel {
  color: #4E73DF; }

@-webkit-keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
@keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
.navbar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  padding: 0.625rem 1rem; }
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .navbar .brand {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    padding: 0.3125rem 0rem;
    margin-right: 1rem;
    white-space: nowrap;
    display: none; }
    .navbar .brand:hover, .navbar .brand:active, .navbar .brand:focus {
      text-decoration: none; }
  .navbar .items-container {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .navbar .items-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    list-style: none;
    margin-top: 0.5rem; }
    .navbar .items-list li > a {
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      font-size: 14px;
      color: #FFF;
      padding: 0.5rem 0.625rem; }
    .navbar .items-list li:last-child a {
      border: 2px solid #FFF;
      border-radius: 40px; }
      .navbar .items-list li:last-child a:hover, .navbar .items-list li:last-child a:active, .navbar .items-list li:last-child a:focus {
        border: 2px solid #FF4E50;
        background-color: #FF4E50;
        text-decoration: none; }

@media (min-width: 768px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 1.25rem 1rem; }
    .navbar .container {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .navbar .brand {
      display: inline-block; }
    .navbar .items-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .navbar .items-list {
      margin-top: 0px; } }
.btn {
  font-size: 14px; }

.btn-general, .btn-primary, .btn-default {
  font-family: "Montserrat", sans-serif;
  background-color: #FF4E50;
  color: #FFF;
  padding: 12px 15px;
  text-transform: capitalize;
  text-align: center;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn-general:hover, .btn-primary:hover, .btn-default:hover, .btn-general:active, .btn-primary:active, .btn-default:active, .btn-general:focus, .btn-primary:focus, .btn-default:focus {
    background-color: #667DF3;
    text-decoration: none;
    color: #FFF;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.banner {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 212, 35, 0.1)), to(rgba(255, 78, 80, 0.1))), url("../assets/img/backgroundBitmap.png");
  background: linear-gradient(180deg, rgba(249, 212, 35, 0.1), rgba(255, 78, 80, 0.1)), url("../assets/img/backgroundBitmap.png");
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px; }
  .banner .caption {
    position: absolute;
    text-align: center;
    top: 180px;
    left: 0px;
    right: 0px; }
    .banner .caption p {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #FFF;
      margin-bottom: 0px;
      text-transform: uppercase; }
    .banner .caption h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: #FFF;
      margin-top: 35px;
      margin-bottom: 12px;
      text-transform: uppercase; }
    .banner .caption h2 {
      color: #FFF;
      font-size: 18px;
      font-weight: 300;
      margin-top: 0px;
      margin-bottom: 18px; }
    .banner .caption a {
      display: inline-block;
      width: 280px; }

.how-it-works {
  padding-top: 35px; }
  .how-it-works h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #444;
    margin-top: 0px;
    margin-bottom: 15px; }
  .how-it-works .flex-container .items {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 240px;
    border-radius: 4px; }
    .how-it-works .flex-container .items.f-step {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6))), url("../assets/img/Step1.png");
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/img/Step1.png"); }
    .how-it-works .flex-container .items.s-step {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6))), url("../assets/img/Step2.png");
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/img/Step2.png");
      margin: 10px 0px; }
    .how-it-works .flex-container .items.t-step {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6))), url("../assets/img/Step3.png");
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/img/Step3.png"); }
    .how-it-works .flex-container .items .content {
      position: absolute;
      left: 20px;
      bottom: 25px;
      width: 84%; }
      .how-it-works .flex-container .items .content .tag {
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 10px;
        padding: 4px 10px;
        min-width: 70px;
        text-transform: uppercase; }
      .how-it-works .flex-container .items .content p {
        color: #E3E3E3;
        font-size: 14px;
        font-weight: 300;
        margin: 0px; }
      .how-it-works .flex-container .items .content h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: #FFF;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 1.2; }

.partners {
  padding-top: 35px; }
  .partners h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #444;
    margin-top: 0px;
    margin-bottom: 15px; }
  .partners .flex-container .items {
    flex-grow: 1;
    margin-bottom: 1rem; }
    .partners .flex-container .items:last-child {
      margin-bottom: 0; }
    .partners .flex-container .items img {
      display: block;
      max-width: 100%;
      margin: 0 auto; }
    .partners .flex-container .items .img-container {
      position: relative; }
      .partners .flex-container .items .img-container:after {
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 100%;
        bottom: 0px;
        left: 178px; }
      .partners .flex-container .items .img-container.music:after {
        background-image: url("../assets/img/music2.png");
        background-color: #FF4E50; }
      .partners .flex-container .items .img-container.camera:after {
        background-image: url("../assets/img/camera.png");
        background-color: #FFA710; }
      .partners .flex-container .items .img-container.brush:after {
        background-image: url("../assets/img/brush.png");
        background-color: #19D4CA; }
      .partners .flex-container .items .img-container.airplane:after {
        background-image: url("../assets/img/airplane.png");
        background-color: #667DF3; }
    .partners .flex-container .items p {
      color: #666;
      font-weight: 300;
      margin: 0px;
      font-size: 14px;
      text-align: center; }
      .partners .flex-container .items p.name {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: #444;
        margin-top: 17px;
        margin-bottom: 12px; }
  .partners .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    background-color: transparent;
    border: 2px solid #FF4E50;
    color: #FF4E50;
    width: 280px; }
    .partners .btn:hover, .partners .btn:active, .partners .btn:focus {
      background-color: #FF4E50;
      color: #FFF; }

.activity-ideas {
  padding-top: 35px; }
  .activity-ideas h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #444;
    margin-top: 0px;
    margin-bottom: 15px; }
  .activity-ideas .flex-container .items {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 4px; }
    .activity-ideas .flex-container .items .valign {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .activity-ideas .flex-container .items .valign h2 {
        color: #FFF;
        margin-bottom: 0px; }
    .activity-ideas .flex-container .items.sports {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/img/Sports.png"); }
    .activity-ideas .flex-container .items.health {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/img/Wellness.png"); }
    .activity-ideas .flex-container .items.expeditions {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/img/Extreme.png"); }
    .activity-ideas .flex-container .items.games {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/img/Games.png"); }
    .activity-ideas .flex-container .items.culture {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/img/Culture2.png"); }
    .activity-ideas .flex-container .items.relaxation {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/img/enjoymentRelaxation.png"); }
    .activity-ideas .flex-container .items.traveling {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/img/Traveling.png"); }
  .activity-ideas .flex-container:last-child .items:last-child {
    margin-bottom: 0px; }

@media (min-width: 768px) {
  .banner {
    height: 700px; }
    .banner .caption {
      top: 200px; }
      .banner .caption p {
        display: none; }
      .banner .caption h1 {
        font-size: 52px; }
      .banner .caption h2 {
        font-size: 24px;
        margin-bottom: 32px; }
      .banner .caption a {
        width: 225px; }

  .how-it-works {
    padding-top: 95px; }
    .how-it-works h2 {
      margin-bottom: 34px; }
    .how-it-works .flex-container .items {
      height: 400px;
      background-position: center left; }
      .how-it-works .flex-container .items.s-step {
        margin: 0px 20px; }

  .partners {
    padding-top: 95px; }
    .partners h2 {
      margin-bottom: 34px; }
    .partners .flex-container {
      flex-wrap: wrap;
      max-width: 492px;
      margin: auto; }
      .partners .flex-container .items {
        flex-basis: 45%;
        margin-bottom: 1rem;
        margin-left: 0.625rem;
        margin-right: 0.625rem; }
        .partners .flex-container .items:first-child, .partners .flex-container .items:nth-child(3) {
          margin-left: 0; }
        .partners .flex-container .items:nth-child(2), .partners .flex-container .items:last-child {
          margin-right: 0; }
        .partners .flex-container .items:nth-child(3), .partners .flex-container .items:last-child {
          margin-bottom: 0; }
        .partners .flex-container .items .img-container:after {
          left: 141px; }
    .partners .btn {
      width: 180px; }

  .activity-ideas {
    padding-top: 95px; }
    .activity-ideas h2 {
      margin-bottom: 34px; }
    .activity-ideas .flex-container .items {
      flex-grow: 1;
      height: 310px;
      max-width: 236px;
      margin-bottom: 1.25rem; }
      .activity-ideas .flex-container .items.health {
        margin-left: 1.25rem;
        margin-right: 1.25rem; }
      .activity-ideas .flex-container .items.culture {
        margin-left: 1.25rem; }
      .activity-ideas .flex-container .items.relaxation {
        margin-right: 1.25rem; }
      .activity-ideas .flex-container .items.culture, .activity-ideas .flex-container .items.relaxation {
        max-width: none; }
    .activity-ideas .flex-container:last-child .items {
      margin-bottom: 0; } }
@media (min-width: 1200px) {
  .how-it-works .items {
    background-position: center center; }

  .partners .flex-container {
    flex-wrap: nowrap;
    max-width: none; }
    .partners .flex-container .items {
      flex-basis: 100%;
      margin-bottom: 0; }
      .partners .flex-container .items:first-child {
        margin-left: 0; }
      .partners .flex-container .items:nth-child(2) {
        margin-right: 0.625rem; }
      .partners .flex-container .items:nth-child(3) {
        margin-left: 0.625rem; }
      .partners .flex-container .items:last-child {
        margin-right: 0; }
      .partners .flex-container .items .img-container:after {
        left: 112px; } }
@media (min-width: 1440px) {
  .partners .flex-container .items .img-container:after {
    left: 138px; }

  .activity-ideas .flex-container .items {
    max-width: 300px; } }

/*# sourceMappingURL=main.css.map */
