@-webkit-keyframes growIn {
    0% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes growIn {
    0% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes move {
    0% {
        opacity: 1;
        left: -370px;
    }
    10% {
        opacity: 1;
        left: -333px;
    }
    20% {
        opacity: 1;
        left: -296px;
    }
    30% {
        opacity: 1;
        left: -259px;
    }
    40% {
        opacity: 1;
        left: -222px;
    }
    50% {
        opacity: 1;
        left: -185px;
    }
    60% {
        opacity: 1;
        left: -148px;
    }
    70% {
        opacity: 1;
        left: -111px;
    }
    80% {
        opacity: 1;
        left: -74px;
    }
    90% {
        opacity: 1;
        left: -37px;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}

@keyframes move {
    0% {
        opacity: 1;
        left: -370px;
    }
    10% {
        opacity: 1;
        left: -333px;
    }
    20% {
        opacity: 1;
        left: -296px;
    }
    30% {
        opacity: 1;
        left: -259px;
    }
    40% {
        opacity: 1;
        left: -222px;
    }
    50% {
        opacity: 1;
        left: -185px;
    }
    60% {
        opacity: 1;
        left: -148px;
    }
    70% {
        opacity: 1;
        left: -111px;
    }
    80% {
        opacity: 1;
        left: -74px;
    }
    90% {
        opacity: 1;
        left: -37px;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}